#base {
    background-image: url("./img/abstract-art-background-370799.jpg");
    /*height: calc(100vh); */
    /* height: 100%; */
    background-attachment: fixed;
    /* position: fixed; */
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}

.first {
    padding-top: 140px;
    padding-left: 220px;
    padding-right: 210px;
    padding-bottom: 141px;
}

/* .second {
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 200px;
    padding-bottom: 120px;
} */

.classes.icon{
    size: 50px;
}

.dis-content {
    text-decoration: none;
    color: black;
}

#name {
    font-size: 20px;
}

/* #main {
     background-color: cornflowerblue; 
    background-image: url("./img/abstract-art-background-370799.jpg");
    background-attachment: fixed;
} */

#title {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans';
}

/* .surface { 
    background-image: url("./img/abstract-art-background-370799.jpg");
    height: 657px; 
    background-attachment: fixed;
} */

#surface { 
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 150px;
    padding-bottom: 141px;
}

#msurface { 
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 141px;
}

#inside {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#papert{
    font-family: 'Gill Sans MT';
    font-weight: 800;
}
